USE [QLThiTracNghiemOnl]
GO
/****** Object:  Table [dbo].[BaiLams]    Script Date: 11/06/2022 1:23:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiLams](
	[MaHocSinh] [int] NOT NULL,
	[MaCauHoi] [int] NOT NULL,
	[MaLuaChon] [int] NULL,
 CONSTRAINT [PK_BaiLams] PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC,
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHoi_LuaChon]    Script Date: 11/06/2022 1:23:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi_LuaChon](
	[MaCauHoi] [int] NOT NULL,
	[MaLuaChon] [int] NOT NULL,
	[CauTraLoi] [bit] NOT NULL,
 CONSTRAINT [PK_CauHoi_LuaChon] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC,
	[MaLuaChon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHois]    Script Date: 11/06/2022 1:23:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHois](
	[MaCauHoi] [int] IDENTITY(1,1) NOT NULL,
	[MaDeThi] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[MaGiaoVien] [int] NULL,
 CONSTRAINT [PK_CauHois] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeThis]    Script Date: 11/06/2022 1:23:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeThis](
	[MaDeThi] [int] IDENTITY(1,1) NOT NULL,
	[TenMonThi] [nvarchar](100) NULL,
	[NgayThi] [datetime] NOT NULL,
	[SoCauHoi] [int] NULL,
	[MaKhoaHoc] [int] NULL,
	[ThoiHanDeThi] [datetime] NOT NULL,
	[ThoiGianLamBai] [int] NOT NULL,
	[MaCauHoi] [int] NULL,
 CONSTRAINT [PK_DeThis] PRIMARY KEY CLUSTERED 
(
	[MaDeThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeThis_Chitiets]    Script Date: 11/06/2022 1:23:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeThis_Chitiets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDeThi] [int] NOT NULL,
	[IdCauHoi] [int] NOT NULL,
 CONSTRAINT [PK_DeThis_Chitiets] PRIMARY KEY CLUSTERED 
(
	[IdDeThi] ASC,
	[IdCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoViens]    Script Date: 11/06/2022 1:23:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoViens](
	[MaGiaoVien] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[HoTen] [nvarchar](max) NULL,
 CONSTRAINT [PK_GiaoViens] PRIMARY KEY CLUSTERED 
(
	[MaGiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinh_KhoaHoc]    Script Date: 11/06/2022 1:23:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh_KhoaHoc](
	[MaHocSinh] [int] NOT NULL,
	[MaKhoaHoc] [int] NOT NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_HocSinh_KhoaHoc] PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC,
	[MaKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinhs]    Script Date: 11/06/2022 1:23:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinhs](
	[MaHocSinh] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[HoTen] [nvarchar](max) NULL,
	[NgaySinh] [datetime] NULL,
	[QueQuan] [nvarchar](100) NULL,
	[MaKhoaHoc] [int] NULL,
 CONSTRAINT [PK_HocSinhs] PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaHocs]    Script Date: 11/06/2022 1:23:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHocs](
	[MaKhoaHoc] [int] IDENTITY(1,1) NOT NULL,
	[MaDeThi] [int] NULL,
	[TenKhoaHoc] [nvarchar](100) NULL,
 CONSTRAINT [PK_KhoaHocs] PRIMARY KEY CLUSTERED 
(
	[MaKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuaChons]    Script Date: 11/06/2022 1:23:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuaChons](
	[MaLuaChon] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nchar](10) NULL,
 CONSTRAINT [PK_LuaChons] PRIMARY KEY CLUSTERED 
(
	[MaLuaChon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyens]    Script Date: 11/06/2022 1:23:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyens](
	[MaPhanQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenPhanQuyen] [nvarchar](100) NULL,
 CONSTRAINT [PK_PhanQuyens] PRIMARY KEY CLUSTERED 
(
	[MaPhanQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 11/06/2022 1:23:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[MaPhanQuyen] [int] NULL,
	[MaHocSinh] [int] NULL,
	[MaGiaoVien] [int] NULL,
	[Username] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[NgayTaoTaiKhoan] [datetime] NULL,
 CONSTRAINT [PK_TaiKhoans] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeThis]  WITH CHECK ADD  CONSTRAINT [FK_DeThi_CauHoi] FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[CauHois] ([MaCauHoi])
GO
ALTER TABLE [dbo].[DeThis] CHECK CONSTRAINT [FK_DeThi_CauHoi]
GO
ALTER TABLE [dbo].[DeThis_Chitiets]  WITH CHECK ADD  CONSTRAINT [FK_Dethis_Chitiets] FOREIGN KEY([IdDeThi])
REFERENCES [dbo].[DeThis] ([MaDeThi])
GO
ALTER TABLE [dbo].[DeThis_Chitiets] CHECK CONSTRAINT [FK_Dethis_Chitiets]
GO
ALTER TABLE [dbo].[DeThis_Chitiets]  WITH CHECK ADD  CONSTRAINT [FK_Dethis_Chitiets1] FOREIGN KEY([IdCauHoi])
REFERENCES [dbo].[CauHois] ([MaCauHoi])
GO
ALTER TABLE [dbo].[DeThis_Chitiets] CHECK CONSTRAINT [FK_Dethis_Chitiets1]
GO
