
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div style="display:block; margin-left: 30px;">
    <h2>Đây là trang chủ của Admin </h2>
</div>
<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">50</div>
            <div class="cardName">Số khóa học</div>
        </div>
        <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">80</div>
            <div class="cardName">Tổng bài kiểm tra</div>
        </div>
        <div class="iconBx">
            <ion-icon name="create-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">285</div>
            <div class="cardName">Số bình luận</div>
        </div>
        <div class="iconBx">
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">504</div>
            <div class="cardName">Số sinh viên</div>
        </div>
        <div class="iconBx">
            <ion-icon name="happy-outline"></ion-icon>
        </div>
    </div>
</div>
<!-- Data List-->
<div class="details">
    <div class="recent">
        <div class="cardHeader">
            <h2>Danh sách khóa học</h2>
            <a href="#" class="btn">Xem tất cả</a>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Tên khóa học</td>
                    <td>Giá tiền</td>
                    <td>Phân loại</td>
                    <td>Tình trạng</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lập trình C# cơ bản</td>
                    <td>$50</td>
                    <td>Cơ bản</td>
                    <td><span class="status delivered">Hoàn thành</span></td>
                </tr>
                <tr>
                    <td>Lập trình C# nâng cao</td>
                    <td>$70</td>
                    <td>Nâng cao</td>
                    <td><span class="status pending">Đang diễn ra</span></td>
                </tr>
                <tr>
                    <td>Lập trình di động cơ bản</td>
                    <td>$65</td>
                    <td>Cơ bản</td>
                    <td><span class="status return">Bị hủy</span></td>
                </tr>
                <tr>
                    <td>Lập trình di động nâng cao</td>
                    <td>$70</td>
                    <td>Nâng cao</td>
                    <td><span class="status inprogress">Sắp có</span></td>
                </tr>
                <tr>
                    <td>Cơ sở dữ liệu</td>
                    <td>$60</td>
                    <td>Cơ bản</td>
                    <td><span class="status delivered">Hoàn thành</span></td>
                </tr>
                <tr>
                    <td>Cơ sở dữ liệu nâng cao</td>
                    <td>$70</td>
                    <td>Nâng cao</td>
                    <td><span class="status inprogress">Sắp có</span></td>
                </tr>
                <tr>
                    <td>Lập trình C</td>
                    <td>$70</td>
                    <td>Cơ bản</td>
                    <td><span class="status pending">Đang diễn ra</span></td>
                </tr>
                <tr>
                    <td>Lập trình C++</td>
                    <td>$70</td>
                    <td>Cơ bản</td>
                    <td><span class="status return">Bị hủy</span></td>
                </tr>
                <tr>
                    <td>Lập trình C++ nâng cao</td>
                    <td>$70</td>
                    <td>Nâng cao</td>
                    <td><span class="status pending">Đang diễn ra</span></td>
                </tr>
                <tr>
                    <td>Lập trình Python</td>
                    <td>$70</td>
                    <td>Cơ bản</td>
                    <td><span class="status return">Bị hủy</span></td>
                </tr>
                <tr>
                    <td>Lập trình hướng đối tượng</td>
                    <td>$70</td>
                    <td>Due</td>
                    <td><span class="status delivered">Hoàn thành</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--New Customers-->
    <div class="recentCus">
        <div class="cardHeader">
            <h2>Đang truy cập...</h2>
        </div>
        <table>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/img/jhope.png"></div></td>
                <td><h4>anu<br /><span>Quản trị viên</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/img/suga.jpeg"></div></td>
                <td><h4>uyenkai<br /><span>Giảng viên</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/img/chuga.png"></div></td>
                <td><h4>vian<br /><span>Sinh viên</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/img/rose.jpg"></div></td>
                <td><h4>dnhuu<br /><span>Sinh viên</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/img/decade.jpg"></div></td>
                <td><h4>quoctu<br /><span>Sinh viên</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/img/v.jpeg"></div></td>
                <td><h4>simonk<br /><span>Sinh viên</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/img/hopie.jpg"></div></td>
                <td><h4>sarahha<br /><span>Giảng viên</span></h4></td>
            </tr>
        </table>
    </div>
</div>

