
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div style="display:block; margin-left: 30px;">
    <h2>Đây là trang chủ của Admin </h2>
</div>
<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">1,504</div>
            <div class="cardName">Daily Views</div>
        </div>
        <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">80</div>
            <div class="cardName">Test</div>
        </div>
        <div class="iconBx">
            <ion-icon name="create-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">285</div>
            <div class="cardName">Comments</div>
        </div>
        <div class="iconBx">
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">504</div>
            <div class="cardName">Students</div>
        </div>
        <div class="iconBx">
            <ion-icon name="happy-outline"></ion-icon>
        </div>
    </div>
</div>
<!-- Data List-->
<div class="details">
    <div class="recent">
        <div class="cardHeader">
            <h2>Recent</h2>
            <a href="#" class="btn btn-info">View All</a>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Payment</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Star Refrigerator</td>
                    <td>$1200</td>
                    <td>Due</td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>
                <tr>
                    <td>Speakers</td>
                    <td>$1200</td>
                    <td>Due</td>
                    <td><span class="status pending">Pending</span></td>
                </tr>
                <tr>
                    <td>Laptop</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status return">Return</span></td>
                </tr>
                <tr>
                    <td>Wall pan</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status inprogress">In Progress</span></td>
                </tr>
                <tr>
                    <td>Adidas Shoes</td>
                    <td>$1200</td>
                    <td>Due</td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>
                <tr>
                    <td>Wall pan</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status inprogress">In Progress</span></td>
                </tr>
                <tr>
                    <td>Speakers</td>
                    <td>$1200</td>
                    <td>Due</td>
                    <td><span class="status pending">Pending</span></td>
                </tr>
                <tr>
                    <td>Laptop</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status return">Return</span></td>
                </tr>
                <tr>
                    <td>Speakers</td>
                    <td>$1200</td>
                    <td>Due</td>
                    <td><span class="status pending">Pending</span></td>
                </tr>
                <tr>
                    <td>Laptop</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status return">Return</span></td>
                </tr>
                <tr>
                    <td>Adidas Shoes</td>
                    <td>$1200</td>
                    <td>Due</td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--New Customers-->
    <div class="recentCus">
        <div class="cardHeader">
            <h2>Recent Customers</h2>
        </div>
        <table>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/GiangVien/img/jhope.png" />></div></td>
                <td><h4>anu<br /><span>VietNam</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/GiangVien/img/suga.jpeg"></div></td>
                <td><h4>uyenkai<br /><span>VietNam</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/GiangVien/img/chuga.png"></div></td>
                <td><h4>vian<br /><span>VietNam</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/GiangVien/img/rose.jpg"></div></td>
                <td><h4>dnhuu<br /><span>VietNam</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/GiangVien/img/decade.jpg"></div></td>
                <td><h4>quoctu<br /><span>VietNam</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/GiangVien/img/v.jpeg"></div></td>
                <td><h4>simonk<br /><span>VietNam</span></h4></td>
            </tr>
            <tr>
                <td width="60px"><div class="imgBx"><img src="~/Areas/GiangVien/img/hopie.jpg"></div></td>
                <td><h4>sarahha<br /><span>VietNam</span></h4></td>
            </tr>
        </table>
    </div>
</div>

